.materials {
    padding-top: 120px;
    background-color: #fcfcfc;
    &__content {
        text-align: center;
    }
    &__subtitle {
        color: #000000;
        font-size: 19px;
        line-height: 18px;
    }
    &__items {
        margin-top: 77px;
        display: flex;
        justify-content: center;
    }
    &__card {
        flex-basis: 30%;
        text-align: center;

        &-title {
            color: #000;
            font-family: 'ProximaNova_bold';
            font-size: 22px;
            font-weight: 700;
            line-height: 18px;
        }
        &-desc {
            color: #000;
            font-size: 19px;
        }
        &-link {
            color: #6ba253;
            font-size: 16px;
            line-height: 18px;
            text-decoration: underline;
            transition: color .2s linear;
            &:hover, &:focus, &:active {
                color: #4dff00;
            }
        }
    }
    &__text {
        margin-top: 78px;
        text-align: center;
        color: #000;
        font-size: 20px;
        line-height: 18px;

        &-mail {
            color: #509134;
            transition: color .2s linear;
            &:hover, &:focus, &:active {
                color: #4dff00;
            }
        }
        &-phone {
            color: #000;
            font-family: 'ProximaNova_bold';
            font-weight: 700;
            text-decoration: none;
            transition: opacity .2s linear;
            &:hover, &:focus, &:active {
                opacity: .5;
            }
        }
    }
}